* {box-sizing: border-box;}

/* Declaring Fonts*/

@font-face {
    font-family: 'bubblegum_sansregular';
    src: url('fonts/bubblegumsans-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Questrial_Regular';
    src: url('fonts/Questrial-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AltoneTrial_Bold';
    src: url('fonts/AltoneTrial-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}



html {
    --color-dark: #131313;
    --color-light: #D4D4D4;
    --color-accent: #006882;
    --color-nav: #CF690A; 
    --font--serif: 'bubblegum_sansregular', 'Times New Roman', Times, serif;
    --font--sans-serif: 'Questrial_Regular', Arial, sans-serif;
    --font--sans-serif-bold: 'AltoneTrial_Bold', 'Arial Bold', sans-serif;
}

body {
    background-color: var(--color-light);
    color: var(--color-dark);
    font-family: var(--font--sans-serif);
}

body nav {
    background-color: var(--color-nav);
    font-size: 1.25rem;
    height: 30px;
}

body nav ul {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    align-content: center; /*trying to center in the nav box and its not working*/
    justify-content: space-around;
}

body nav ul li a {
    text-decoration: none;
}

main div h1 {
    color: var(--color-dark);
    font-family: 'bubblegum_sansregular';

    display: flex;
    justify-content: center;
}

main div h2, div h3, div h4, div h5, div h6 {
    font-family: 'Questrial_Regular';
    display: flex;
    justify-content: center;
}

main div p {
    font-family: 'Questrial_Regular';
    font-size: 1.25rem;
    line-height: 1.6;
    padding: 0 1.125rem;

    display: flex;
    justify-content: center;
}

main div h1.special {
    color: var(--color-accent);
    font-family: 'bubblegum_sansregular';
    line-height: 1.3;
}

/* .work {
    border: 2px solid black;
    margin: 0 auto;
} */

.paragraph {
    text-align: center;
    text-indent: 45px;
}

.images {
    max-width: 400px;

    display: flex;
    align-content: center;
}