* {box-sizing: border-box;}

@font-face {
    font-family: 'bubblegum_sansregular';
    src: url('fonts/bubblegumsans-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Questrial_Regular';
    src: url('fonts/Questrial-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AltoneTrial_Bold';
    src: url('fonts/AltoneTrial-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

html {
    --color-dark: #131313;
    --color-light: #D4D4D4;
    --color-accent: #006882;
    --color-nav: #CF690A; 
    --font--serif: 'bubblegum_sansregular', 'Times New Roman', Times, serif;
    --font--sans-serif: 'Questrial_Regular', Arial, sans-serif;
    --font--sans-serif-bold: 'AltoneTrial_Bold', 'Arial Bold', sans-serif;
}

body {
    background-color: var(--color-light);
    color: var(--color-dark);
    font-family: var(--font--sans-serif);
}

body nav {
    background-color: var(--color-nav);
}

main div h1 {
    font-weight: 700;
    font-family: 'AltoneTrial_Bold';
}

main div h2, div h3, div h4, div h5, div h6 {
    font-family: 'Questrial_Regular';
}

main div p {
    font-family: 'Questrial_Regular';
    font-size: 1.25rem;
    line-height: 1.6;
}

main div h1.special {
    color: var(--color-accent);
    font-family: 'bubblegum_sansregular';
    line-height: 1.3;
}

/* figcaption {
    text-align: center;
} */
