* {box-sizing: border-box;}

/* Declaring Fonts*/

@font-face {
    font-family: 'bubblegum_sansregular';
    src: url('fonts/bubblegumsans-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Questrial_Regular';
    src: url('fonts/Questrial-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AltoneTrial_Bold';
    src: url('fonts/AltoneTrial-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}



html {
    --color-dark: #131313;
    --color-medium: #565859;
    --color-light: #D4D4D4;
    --color-accent: #009FC7;
    --color-orange: #CF690A; 
    --font--serif: 'bubblegum_sansregular', 'Times New Roman', Times, serif;
    --font--sans-serif: 'Questrial_Regular', Arial, sans-serif;
    --font--sans-serif-bold: 'AltoneTrial_Bold', 'Arial Bold', sans-serif;
}

body {
    background-color: var(--color-dark);
    color: var(--color-lighter);
    font-family: var(--font--sans-serif);
    margin: 0 0;
}

body nav {
    background-color: var(--color-medium);
    font-size: 1.5rem;
    height: 30px;
}

body nav ul {
    list-style: none;
    height: 30px;
    margin: 0;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

body nav ul li a {
    color: var(--color-light);
    text-decoration: none;
}

/* body nav ul li a:visited {
    color:var(--color-light);
} */ 

nav {
    position: fixed;
    width: 100%;
    top: 0; 
}

main {
    margin-bottom: 45px;
    margin-top: 45px;
}

main div h1 {
    color: var(--color-orange);
    font-family: var(--font--serif);
    letter-spacing: .75px;

    display: flex;
    justify-content: center;
}

main div h2, div h3, div h4, div h5, div h6 {
    color: var(--color-light);
    font-family: var(--font--sans-serif);
    display: flex;
    justify-content: center;
}

main div.paragraph {
    color: var(--color-light);
    font-family: var(--font--sans-serif);
    font-size: 1.3rem;
    line-height: 1.6;
    padding: 0 1.125rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

main div h1.special {
    line-height: 1.3;
}

main div.info {
    color: var(--color-light);
    font-family: var(--font--sans-serif);
    font-size: 1.25rem;
    line-height: 1.6;
}

main div.quote {
    color: var(--color-light);
    line-height: .25rem;

    display: flex;
    align-items: center;
    flex-direction: column;
}

img {
    max-width: 100%;
    height: auto;
}

.paragraph {
    text-align: center;
    text-indent: 45px;
}

.images {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

figcaption {
    color: var(--color-light);
    font-family: var(--font--sans-serif-bold);
    font-size: 1.2rem;
    padding-top: 10px;
    text-align: center;

}

button {
    background-color: var(--color-accent);
    font-family: var(--font--sans-serif);
    margin: 15px auto 20px;
    padding: 8px 8px;

    display: flex;
    align-items: center;
}

button a {
    color: var(--color-dark);
    font-size: 1rem;
    text-decoration: none;
}

/* button a:visited {
    background-color: var(--color-dark);
} */

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    background-color: var(--color-medium);
    font-family: var(--font--sans-serif);
    font-size: 1.5rem;
    height: 30px;
    margin: 20px 0 0;
    padding: 0;

    display: flex;
    align-items: center;
    gap: 25px;
    justify-content: center;
}

footer p a {
    text-decoration: none;
    color: var(--color-light);
}

/* footer p a:visited {
    color: var(--color-light);
} */